body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #9C27B0; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: rgb(228, 194, 194);
    text-align: center;
    position: relative;
}

#main-container {
    background-image: url('image/photo_2024-05-29_23-21-19.jpg');
}

#form-container {
    background-image: url('image/photo_2024-05-29_23-21-19.jpg');
}

.container.hidden {
    display: none;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header, main {
    position: relative;
    z-index: 2;
}

header h1 {
    margin: 0;
    padding: 20px;
    font-size: 2em;
}

main h2 {
    margin: 20px 0;
    font-size: 2.5em;
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    width: 4cm;
    height: 1cm;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #607D8B;
    color: white;
    z-index: 2;
    margin-left: 37.8px;
}

button:hover {
    background-color: #455A64; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form label {
    text-align: left;
}

form input, form select, form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

form button {
    width: 4cm;
    height: 1cm;
    background-color: #607D8B;
    color: white;
    cursor: pointer;
    margin-left: 20px;
}

form button:hover {
    background-color: #455A64;
}
